* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(219, 239, 247);

}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: red;

}

.navbar {
    background-color: burlywood;
    color: #ffff;
    padding: 1.5% 5%;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    position: relative;
}

.nav-left h2 {
    margin-bottom: 1%;


}

.nav-right {
    display: grid;
    grid-auto-flow: column;
    text-align: center;
    align-items: center;
    gap: 12px;

}

.hamburger-checkbox {
    display: none;

}

.hamburger-icon {
    display: none;
    font-size: 28px;
    cursor: pointer;
    background: none;
    color: white;
    padding: 10px;
    text-align: center;

}

/* Home section starts */
.home {
    padding: 60px 5%;
    background-color: aliceblue;
}

.home-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 40px;
}

.home-text h2 {
    font-size: 36px;
    margin-bottom: 15px;

}

.home-text p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;

}

.home-btn {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: burlywood;
    border-radius: 5px;
}

.home-image img {
    width: 100%;
    border-radius: 10px;
}

/* Home section ends */
/* Tutorial section starts */
.tutorial {
    padding: 60px 5%;
    background-color: azure;
}

.section-title {
    margin-bottom: 40px;
}

.tutorial-container {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(4, 1fr);

}

.tutorial-card {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    ;
}

.tutorial-card img {
    width: 100%;
    height: 180px;

}

.card-content {
    padding: 15px;
}

.card-content h3 {
    margin-bottom: 18px;
    color: #555;

}

.card-content p {
    font-size: 14px;


}

/* Tutorial section ends */
/* Gallery section starts */

.gallery{
    padding: 60px 5%;
    background-color: azure;
    
}
.gallery-container{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(6,1fr);
}
.gallery-container img{
    width: 100%;
    height: 160px;
    border-radius: 7px;
}


/* Gallery section Ends */


@media (max-width:768px) {
    .logo {
        font-size: larger;
    }

    .nav-left p {
        font-size: small;

    }

    .navbar {
        grid-template-columns: 1fr auto;
    }

    .hamburger-icon {
        display: block;
        z-index: 1001;
    }

    .nav-right {
        position: absolute;
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        top: 100%;
        left: 0;
        text-align: left;
        width: 100%;
        background-color: burlywood;
        padding: 15px 10px;
        display: none;


    }

    .hamburger-checkbox:checked~.nav-right {
        display: grid;
    }

    /* Home section start  */
    .home-text {
        font-size: 24px;

    }

    /* Home section ends */

    /* Tutorial section start */
    .tutorial-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .section-title {
        font-size: 26px;
    }

    /* Tutorial section ends */
    /* gallery section starts  */
    .gallery-container{
        grid-template-columns: repeat(4,1fr);
    }
    /* gallery section ends */



}

@media (max-width: 480px) {
    .home-container {
        grid-template-columns: 1fr;
    }

    .home-image {
        order: -1;
        /* order -1 used to move the image to top you can also use row reverse for it */
    }

    .tutorial-container {
        grid-template-columns: 1fr;

    }

    .section-title {
        font-size: 22px;
    }
     .gallery-container{
        grid-template-columns: repeat(2,1fr);
    }

}