*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body{
    font-family:Arial, Helvetica, sans-serif ;
    background-color:rgb(219, 239, 247);

}
a{
    text-decoration: none;
    color:black;
}
a:hover{
    text-decoration: underline;
    color:red;

}
.navbar{
    background-color:burlywood ;
    color:#ffff ;
    padding: 1.5% 5%;
    display: grid;
    grid-template-columns: 1fr auto;
}
.nav-left h2{
    margin-bottom: 1%;


}
.nav-right{
    display: grid;
    gap: 12px;
    grid-auto-flow: column;
    text-align: center;
    align-items: center;

}
